.media {
  padding: 5px;
  background-color: #282c34;
  border-radius: 10px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  max-width: 300px;
  margin-top: 5px;
}

.media:hover {
  background-color: rgba(39, 37, 37, 0.89);
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.poster {
  display : block;
  width :  100% ;
  height : auto;
  border-radius: 10px;
}

.title {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 17px;
  padding: 8px 0;
  margin-bottom: 5px;
} 

.type_date {
  display: flex;
  justify-content: space-between;
  padding: 0 2px;
  padding-bottom: 3px;
}

.badge{
  position: absolute;
  top: -15px;
  right: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}